Repository 2024-FinalProject/AIHOPS, pull requests merged in 2025-04, with the labels that each got.

#121 Fixing Histogram graph - showing incorrect values per factor - mismatching
  AIHOPS/Front/src/Components/Histogram.jsx
  AIHOPS/__init__.py
Labels: Front

#132 Verify tab in nav-bar and gmailor message
  AIHOPS/Domain/src/Users/Gmailor.py
  AIHOPS/Front/src/App.jsx
  AIHOPS/Front/src/Components/NavBar.jsx
Labels: Front, Back, High Priority

#134 Message display in assessors invitation section
  AIHOPS/Front/src/Components/EditPopup.jsx
Labels: Front, High Priority

#141 Added a Notification Alert to the Nav-Bar
  AIHOPS/Front/src/Components/NavBar.css
  AIHOPS/Front/src/Components/NavBar.jsx
Labels: Front, High Priority

#147 Content Factors Page display - changed layout
  AIHOPS/Front/src/Components/EditPopup.css
  AIHOPS/Front/src/Components/EditPopup.jsx
  AIHOPS/Front/src/Components/ProjectStatusPopup.css
Labels: Front, High Priority

#150 149 ProgressBar Update
  AIHOPS/Front/src/Components/EditPopup.css
  AIHOPS/Front/src/Components/EditPopup.jsx
  AIHOPS/Front/src/Components/ProgressBar.css
  AIHOPS/Front/src/Components/ProgressBar.jsx
  AIHOPS/Front/src/Components/ProjectStatusPopup.jsx
Labels: Front, High Priority

#156 154 redirect users from pages according to their state
  AIHOPS/Domain/src/Users/Gmailor.py
  AIHOPS/Front/src/App.jsx
  AIHOPS/Front/src/Pages/Login.jsx
  AIHOPS/Front/src/Pages/MyProjects.jsx
  AIHOPS/Front/src/Pages/PasswordRecovery.jsx
  AIHOPS/Front/src/Pages/ProjectsManagement.jsx
  AIHOPS/Front/src/Pages/Register.jsx
  AIHOPS/Front/src/Pages/Settings.jsx
  AIHOPS/Front/src/pages/PendingRequests.jsx
Labels: Front, Back, High Priority

#158 Bug, Logic & Visuality fixing in FactorVotingModal page.
  AIHOPS/Front/src/Components/FactorVotingModal.css
  AIHOPS/Front/src/Components/FactorVotingModal.jsx
  AIHOPS/Front/src/Components/ProjectStatusPopup.jsx
  AIHOPS/Front/src/Pages/MyProjects.jsx
Labels: Front, important, High Priority

#159 Add dimension navigation fix & fetching selected project bug fix
  AIHOPS/Front/src/Components/EditPopup.jsx
  AIHOPS/Front/src/Components/FactorVotingModal.css
  AIHOPS/Front/src/Components/ProjectStatusPopup.css
  AIHOPS/Front/src/Pages/MyProjects.jsx
Labels: Front, important

#165 add terms and conditions to registration
  AIHOPS/Front/src/Pages/Register.css
  AIHOPS/Front/src/Pages/Register.jsx
  AIHOPS/Front/src/assets/TermsAndConditions.txt
Labels: Front, High Priority

#170 Dark Theme in the Voting on Project Factors pop-up page.
  AIHOPS/Front/src/Components/FactorVotingModal.css
  AIHOPS/Front/src/theme.css
Labels: Front, Low Priority

#172 VotingTypeSelector pop-up page: Visual Voting Indication
  AIHOPS/Front/src/Components/VotingTypeSelector.css
  AIHOPS/Front/src/Components/VotingTypeSelector.jsx
Labels: Front, High Priority

#173 Minor visual fix - 171 PR continuation.
  AIHOPS/Front/src/Components/VotingTypeSelector.jsx
Labels: Front, High Priority

#164 Update factor branch back
  AIHOPS/DAL/DBAccess.py
  AIHOPS/Domain/src/DS/FactorsPool.py
  AIHOPS/Domain/src/DS/VoteManager.py
  AIHOPS/Domain/src/ProjectModule/Project.py
  AIHOPS/Domain/src/ProjectModule/ProjectManager.py
  AIHOPS/Domain/src/Server.py
  AIHOPS/Front/src/Components/EditPopup.css
  AIHOPS/Front/src/Components/EditPopup.jsx
  AIHOPS/Front/src/api/ProjectApi.jsx
  AIHOPS/Service/ServiceServer.py
  AIHOPS/Tests/AcceptanceTests/Facade.py
  AIHOPS/Tests/AcceptanceTests/PlayGround.py
  AIHOPS/Tests/AcceptanceTests/UpdateFactorTests.py
  AIHOPS/Tests/AcceptanceTests/mydatabase.db
  AIHOPS/Tests/AcceptanceTests/project_domain_tests.py
  AIHOPS/Tests/AcceptanceTests/project_tests.py
Labels: Front, Back, Tests, Low Priority

#178 Added alert pop-up message for missing required input - with the required logic
  AIHOPS/Front/src/Components/AlertPopup.css
  AIHOPS/Front/src/Components/EditPopup.jsx
Labels: Front

#180 179: Pop up voting page
  AIHOPS/Front/src/Components/FactorVotingModal.css
  AIHOPS/Front/src/Components/FactorVotingModal.jsx
  AIHOPS/Front/src/Pages/MyProjects.jsx
Labels: Front

#183 Relocation of the explanation tooltip window in the d-score graph
  AIHOPS/Front/src/Components/SeverityHistogram.jsx
Labels: Front

#185 Removed the title from the tool-tip hover-over pop-up window.
  AIHOPS/Front/src/Components/Histogram.jsx
Labels: Front

#187 Working on the tooltip-hover-over-Pop-up in the d-score voting page
  AIHOPS/Front/src/Components/DGraph.css
  AIHOPS/Front/src/Components/DGraph.jsx
  AIHOPS/Front/src/Components/FactorVotingModal.jsx
  AIHOPS/Front/src/Pages/MyProjects.jsx
Labels: Front

#188 Fixed an issue with the display of Assessment Dimensions rendering (in Analyze Result pop-up)
  AIHOPS/Front/src/Components/AnalyzeResult.jsx
  AIHOPS/Front/src/Components/Histogram.jsx
Labels: Front, important, High Priority

#190 'Member' changed to 'Assessor' in Manage Assessors pop-up page
  AIHOPS/Front/src/Components/EditPopup.jsx
Labels: Front

#192 Email verification in Manage Assessors page
  AIHOPS/Front/package-lock.json
  AIHOPS/Front/package.json
  AIHOPS/Front/src/Components/EditPopup.jsx
Labels: Front

#194 Basic alert's changed to AlertPopUp component (in the EditPopUp.jsx page)
  AIHOPS/Front/src/Components/EditPopup.jsx
Labels: Front

#196 Added a waiting screen for when publishing the project
  AIHOPS/Front/src/Components/ProgressBar.css
  AIHOPS/Front/src/Components/ProgressBar.jsx
  AIHOPS/Front/src/Components/PublishingModal.css
  AIHOPS/Front/src/Components/PublishingModal.jsx
  AIHOPS/Front/src/Pages/ProjectsManagement.jsx
Labels: Front

#198 Gmail Auth Login
  AIHOPS/DAL/Objects/DBMember.py
  AIHOPS/Domain/src/Server.py
  AIHOPS/Domain/src/Users/Member.py
  AIHOPS/Domain/src/Users/MemberController.py
  AIHOPS/Domain/src/Users/User.py
  AIHOPS/Front/package-lock.json
  AIHOPS/Front/package.json
  AIHOPS/Front/src/App.jsx
  AIHOPS/Front/src/Pages/Login.css
  AIHOPS/Front/src/Pages/Login.jsx
  AIHOPS/Front/src/api/AuthApi.jsx
  AIHOPS/Service/ServiceServer.py
Labels: Front, Features

#200 update alert msg and add error pop up
  AIHOPS/Domain/src/ProjectModule/Project.py
  AIHOPS/Domain/src/ProjectModule/ProjectManager.py
  AIHOPS/Front/src/Pages/ProjectsManagement.jsx
Labels: Front

#212 Changes in project management page and sub pages - DO NOT APPROVE YET!
  AIHOPS/Front/src/Components/AnalyzeResult.jsx
  AIHOPS/Front/src/Components/CreateProjectPopup.jsx
  AIHOPS/Front/src/Components/EditPopup.css
  AIHOPS/Front/src/Components/EditPopup.jsx
  AIHOPS/Front/src/Components/ProgressBar.css
  AIHOPS/Front/src/Components/ProgressBar.jsx
  AIHOPS/Front/src/Components/PublishingModal.css
  AIHOPS/Front/src/theme.css
Labels: Front

#213 Analyze results page enhanced styling
  AIHOPS/Front/src/Components/AnalyzeResult.css
  AIHOPS/Front/src/Components/AnalyzeResult.jsx
  AIHOPS/Front/src/Components/EditPopup.css
  AIHOPS/Front/src/Components/EditPopup.jsx
  AIHOPS/Front/src/Components/Histogram.jsx
  AIHOPS/Front/src/Components/SeverityHistogram.css
  AIHOPS/Front/src/Components/SeverityHistogram.jsx
Labels: Front
